#### D599 Task 2 Data Preparation and Exploration
#### John D. Pickering

In [2]:
# import dependencies
import json
import csv
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
import ast
import numpy as np
import shap
import plotly
from scipy.stats import zscore

In [4]:
df = pd.read_csv('task_2/Health Insurance Dataset.csv', low_memory=False)

In [5]:
# Rows: 1138
# Columns: 10
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   height    1338 non-null   float64
 4   children  1338 non-null   int64
 5   smoker    1338 non-null   object
 6   region    1338 non-null   object
 7   charges   1338 non-null   float64
 8   Level     1338 non-null   object
 9   score     1338 non-null   int64
dtypes: float64(3), int64(3), object(4)
memory usage: 104.7+ KB

In [8]:
def variable_type_summary(df):
    summary = pd.DataFrame({
        'Column': df.columns,
        'Pandas_Dtype': df.dtypes.astype(str),
        'Non_Null_Count': df.notnull().sum()
    })

    summary['Variable_Type'] = summary['Pandas_Dtype'].apply(lambda x:
        'Quantitative' if 'int' in x or 'float' in x else
        'Qualitative'
    )

    def guess_subtype(col):
        if df[col].dtype in ['int64', 'float64']:
            unique_vals = df[col].dropna().unique()
            if df[col].dtype == 'int64' and len(unique_vals) < 20:
                return 'Discrete'
            else:
                return 'Continuous'
        elif df[col].dtype == 'object' or df[col].dtype.name == 'category':
            n_unique = df[col].nunique()
            if n_unique < 10:
                unique_vals = df[col].dropna().unique()
                return 'Ordinal' if sorted(unique_vals) == list(unique_vals) else 'Nominal'
            else:
                return 'Nominal'
        return 'Unknown'

    summary['Subtype'] = summary['Column'].apply(guess_subtype)

    return summary[['Column', 'Pandas_Dtype', 'Variable_Type', 'Subtype']]

summary_table = variable_type_summary(df)
summary_table

            Column Pandas_Dtype Variable_Type     Subtype
age            age        int64  Quantitative  Continuous
sex            sex       object   Qualitative     Ordinal
bmi            bmi      float64  Quantitative  Continuous
height      height      float64  Quantitative  Continuous
children  children        int64  Quantitative    Discrete
smoker      smoker       object   Qualitative     Nominal
region      region       object   Qualitative     Nominal
charges    charges      float64  Quantitative  Continuous
Level        Level       object   Qualitative     Nominal
score        score        int64  Quantitative  Continuous